body {
    background-color: #e0e1dd;
  }
  
  .logo {
    height: 0px;
    right: -150x;
    transform: scale(0.12);
    position:relative;
    margin-left: -950px;
    margin-top: -10px;
  }
  
  .top-page1{
    background-color: #778DA9;
    color: #8aa5b6; 
    padding: 20px;
    height: 160px;
    border-radius: 7px;
  }
  /* .top-page{
    background-color: #778DA9;
    color: #8aa5b6; 
    padding: 20px;
    height: 166px;
    border-radius: 7px;
  } */
  
  h1 {
    text-align:center;
    font-family:'Open Sans', sans-serif;
    color: #e0e1dd; 
  }
  
  .menu a {
    color: #e0e1dd;
    position: relative;
    text-decoration: none;
  }
  
  .menu a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #e0e1dd;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }
  
  .menu a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
  .menu{
    height: 60px;
    position: relative;
    margin-top: 50px;
    background-color: #415A77;
    border-radius: 10px;
  }
  
  .menu ul{
    margin-left: 0;
    padding-left: 0;
    text-align: center;
  }
  
  /*individual text lines for the main menu*/
  .menu li{
    display: inline-block;
    list-style-type: none;
    margin: 10px;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    color: azure;
  }

.box{
    display: flex;
    margin-left: 80px;
    margin-top: 30px;
}
  .box img{
    width: 500px;
    height: auto;
    float: right;
    margin-bottom: 1cm;
  }
.content2{

    width: 200%;
    font-size: 30px;
    font-family:'Open Sans', sans-serif;
    color: azure;
    background-color: #ced4da;
      color: #555; 
      
  }

 